<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.krins.uestc.bbs" android:versionCode="113" android:versionName="0.0.1.113-beta">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="清水河畔" />
</manifest>