@inherits LayoutComponentBase

<div style="">
    @Body
</div>
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<FluentDesignTheme StorageName="theme" />